[submodule "lib/SDL.zig"]
	path = lib/SDL.zig
	url = https://github.com/MasterQ32/SDL.zig
[submodule "lib/zgui"]
	path = lib/zgui
	url = https://git.musuka.dev/paoda/zgui
[submodule "lib/arm32"]
	path = lib/arm32
	url = https://git.musuka.dev/paoda/arm32.git
